* {
  background-color: black;
  color: white;
}

.scoreboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
}

.grid {
  margin: auto;
  margin-top: 2.5%;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* border:2px solid white; */
  flex-wrap: wrap;
  width:80%;
}

.card {
  padding:10px;
  text-align: center;
  border: 2px solid white;
}

.card:hover {
  cursor: pointer;
  border: 2px solid red;
}

img {
  height:200px;
  width:auto;
}